app = "kreyol-api"

[build]
  builder = "paketobuildpacks/builder:base"
  
[[build.env]]
  name = "BP_PYTHON_VERSION"
  value = "3.11.*"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
